
body {
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
  }


.landing-wrapper{
    
}
  .left-nav{
      display:flex;
      border:none !important;
      font-size:40px;
  }
  .right-nav{
      background-color:orange;
      z-index: -1;
  }


.left-nav-text{
    cursor: pointer;
    font-size: 18px;
    color:black;
    display: flex;
    align-self: center;
    opacity: .3;
   
}
  .right-nav{
      display: flex;
      justify-content: flex-end;
  }

.intro-block{
display:flex;
justify-content: center;
height:100vh;
 

}
.left-info{
    display: flex;
    justify-self: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.video{
width:100%;
z-index: -20;
position: absolute;
    
}
.one-in-five{
    z-index: 20;
}


.left-info-1{
    margin-top: 0;
    margin-bottom: 0;
    padding:0;
    font-size:25px;
    color:white;
}
.left-info-2{
    margin-top:0;
    padding-top:0;
    color:white;
}
.food-image{
    background-image: url("./images/peper.png");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
    background-color:rgb(17, 116, 17);
    height:100vh;
}

.test-algo{
    cursor: pointer;
    background-color:#2098d1;
    color: white;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 600;
    width:180px;
    height:60px;
}

.stat-block{
    height:350px;
    background-color: black;
    display:flex;
    flex-direction: column;
}

.stat-text{
    font-size: 25px;
    color:white;
    width:65%;

}

.stat-credits{
    font-size: 18px;
    color:white;
    font-style: italic;

}
.get-started{
background-color: green;
  color: white;
  font-weight: 800;
  text-decoration: none;
  outline: none;
  padding: 15px 60px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  width:170px;
}



.get-started:hover {
  color: whitesmoke;
  transform: scale(1.3);
}
